%btn {
  background: white;
  border-radius: 2px;
  border: 1px solid;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 1em;
  padding: 1em;
  white-space: nowrap;
  justify-content: center;
  align-self: center;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    box-shadow: none;
    color: white;
  }
}

.btn-primary {
  @extend %btn;
  border-color: $color-altBlue;
  box-shadow: inset 0 0 0 1px lighten($color-altBlue, 35%);
  color: $color-darkBlue;

  &:hover {
    background: lighten($color-altBlue, 35%);
  }

  &:active {
    background: $color-darkBlue;
  }
}

.btn-secondary {
  @extend %btn;
  border-color: $color-lightBlue;
  box-shadow: inset 0 0 0 1px lighten($color-lightBlue, 35%);
  color: $color-lightBlue;

  &:hover {
    background: lighten($color-lightBlue, 35%);
  }

  &:active {
    background: $color-lightBlue;
  }

  @media (max-width: $bp-tablet) {
    font-weight: 800;
    padding: 0.5em;
  }
}
