.wrapper {
  display: grid;
  grid-template-areas: 
    "partners"
    "nav"
    "content"
    "footer"
    "copyright";
  @media (max-width: $bp-phone) {
    grid-template-areas:
      "nav"
      "content"
      "footer"
      "partners"
      "copyright"
  }
}

.content {
  background: url("../assets/images/water-image.png") no-repeat center -10px;
  display: grid;
  grid-template-areas: 
    "filter"
    "main";
  padding: 0 5%;
  @media (max-width: $bp-phone) {
    padding: 0;
  }
}
