.menu-icon {
  display: none;
  position: fixed;
  top: 5px;
  right: 5px;
  height: 55px;
  width: 55px;
  z-index: 1000;
  background: url("../assets/images/menu-icon-mobile.png") no-repeat center top;
  background-size: 55px;
  @media (max-width: $bp-phone) {
    display: block;
  }
  outline: none;
  border: none;
}

.menu-wrapper {
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  position: fixed;
  overflow: hidden;
}

.menu-modal {
  background-color: #fff;
  border-bottom: 4px solid $color-altBlue;
  border-top: 4px solid $color-altBlue;
  .menu-header {
    color: $color-darkBlue;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 1.25em;
    padding: 2em;
    .menu-close {
      font-family: "SSPika";
      font-size: 1.25em;
      display: block;
      position: fixed;
      right: 4px;
      top: 8px;
      color: $color-altBlue;  
      outline: none;
      border: none;
      background-color: white;
    }
  }

  a {
    width: 100%;
    display: block;
    background-color: $color-lightGrey;
    color: $color-copyGrey;
    padding: 1.5em;
    font-size: 1em;
    font-weight: 600;
    border: 1px solid #fff;
    &:after {
      font-family: "SSPika";
      vertical-align: middle;
      display: inline-block;
      content: "navigateright";
      position: absolute;
      right: 1.5em;
      color: $color-altBlue;
    }
  }
}