// Colors
$color-darkBlue: #0E3F8A;
$color-lightBlue: #2770DC;
$color-altBlue: #21C7C5;
$color-lightGrey: #F6F6F6;
$color-mediumGrey: #ECECEC;
$color-mediumerGrey: #D8D8D8;
$color-darkGrey: #BEBEBE;
$color-copyGrey: #3F3F3F;
$color-transparent: rgba(255,255,255, 0.95);

// Breakpoints
$bp-phone: "767px";
$bp-tablet: "991px";
